<% include header %>

    <section class="hero is-info is-bold is-large">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              LazyBot
            </h1>
            <h2 class="subtitle">
              Salut boss, bonne journée ?
            </h2>
            <p>Pourquoi ne pas commencer la journée par automatiser un truc chiant ?</p>
          </div>
        </div>
      </div>

    </section>


<% include footer %>