<% include header %>
<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
    <div class="column is-8 is-offset-2">
      <!-- START ARTICLE -->
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-center">
                <%if (student.img) {%>
                  <img src="<%= student.img %>" alt="Placeholder image">
                <% } else { %>
                  <img src="https://cde.peru.com//ima/0/1/4/3/3/1433061/611x458/google-translate-trololo-song-google.jpg" alt="Placeholder image">
                <% } %>
            </div>
            <div class="media-content marged-right">
              <p class="title article-title">
                <%= student.name %>
              </p>
              <p class="subtitle is-6 article-subtitle">
                <%= student.firstname %>
              </p>
              <p class="subtitle is-6 article-content">Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam
                ultrices sagittis orci a scelerisque puru</p>
            </div>
          </div>
          <div class="content article-body">
            <p>Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam
              ultrices sagittis orci a scelerisque purus semper. </p>
            <p>Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst
              vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales
              ut etiam. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.</p>
            <h3 class="has-text-centered">Feugiat sed lectus vestibulum mattis.</h3>
            <p> Molestie ac feugiat sed lectus vestibulum. Feugiat sed lectus vestibulum mattis. Volutpat diam ut venenatis
              tellus in metus vulputate. Feugiat in fermentum posuere urna nec. Pharetra convallis posuere morbi leo urna
              molestie at. Accumsan lacus vel facilisis volutpat est velit egestas. Fermentum leo vel orci porta. Faucibus
              interdum posuere lorem ipsum.
            </p>
          </div>
        </div>
      </div>
      <!-- END ARTICLE -->
  </section>
  <!-- END ARTICLE FEED -->
</div>
<% include footer %>